<!-- ======= Hero Section ======= -->
<section id="hero" class="d-flex align-items-center">
  <div class="container">
    <div class="row">
      <div
        class="
          col-lg-6
          d-flex
          flex-column
          justify-content-center
          pt-4 pt-lg-0
          order-2 order-lg-1
        "
        data-aos="fade-up"
        data-aos-delay="200"
      >
        <h1>Productos en fibra de vidrio y metalmecánica.</h1>
        <h2>
          Solucionamos las necesidades y expectativas del sector público y
          privado en líneas como la construcción, deporte - recreación y hogar.
        </h2>

        <div>
          <a
            style="color: #1873eb"
            href="https://www.facebook.com/autofibrastunja6"
            target="_blank"
          >
            <i class="ri-facebook-circle-line ri-2x"></i>
          </a>
          &nbsp; &nbsp;
          <a
            style="color: #f78d48"
            href="https://www.instagram.com/autofibrastunja/"
            target="_blank"
          >
            <i class="ri-instagram-line ri-2x"></i>
          </a>
          &nbsp; &nbsp;
          <a
            style="color: #1ad03f"
            href="https://wa.me/573105549126"
            target="_blank"
          >
            <i class="ri-whatsapp-line ri-2x"></i>
          </a>
          &nbsp; &nbsp;
          <a
            style="color:rgba(255, 0, 0, 0.757)"
            href="https://youtube.com"
            target="_blank"
          >
            <i class="ri-youtube-line ri-2x"></i>
          </a>
          
          <br />    
          <p style="color: rgb(162, 162, 162)">311 474 4871 - 310 554 9126</p>
        </div>
      </div>
      <div
        class="col-lg-6 order-1 order-lg-2 hero-img"
        data-aos="zoom-in"
        data-aos-delay="200"
      >
        <img
          src="../../../assets/img/hero.png"
          class="img-fluid animated"
          style="width: 350px;"
          alt=""
        />
      </div>
    </div>
  </div>
</section>
<!-- End Hero -->

<main id="main">
  <!-- ======= Carousel Section ======= -->
    <owl-carousel-o [options]="customOptions">
      <ng-container *ngFor="let slide of miArr">
        <ng-template carouselSlide>
          <img style="max-width: 95%;" [src]="slide.src">
        </ng-template>
      </ng-container>
    </owl-carousel-o>
  <!-- End Carousel Section -->

  <!-- ======= About Us Section ======= -->
  <section id="about" class="about">
    <div class="container" data-aos="fade-up">
      <div class="section-title">
        <h2>Quiénes somos</h2>
      </div>

      <div class="row content">
        <div class="col-lg-6">
          <p>
            <strong>Objetivo general.</strong>
          </p>
          <ul>
            <li>
              <i class="ri-check-double-line"></i> Posicionar en el mercado una
              empresa altamente competitiva reconocida en la región por la
              excelencia de sus productos.
            </li>
          </ul>
        </div>
        <div class="col-lg-6">
          <p>
            <strong>Misión.</strong>
          </p>
          <ul>
            <li>
              <i class="ri-check-double-line"></i> Somos la empresa líder en la
              región con reconocimiento en sus procesos de innovación y
              fabricación de productos en fibra de vidrio y metalmecánica,
              nuestro propósito fundamental es atender las necesidades y
              expectativas del sector público y privado en líneas como la
              construcción, deporte - recreación y hogar.
            </li>
          </ul>
        </div>
        <div class="col-lg-6">
          <p>
            <strong>Visión.</strong>
          </p>
          <ul>
            <li>
              <i class="ri-check-double-line"></i> AUTO FIBRAS será la empresa
              con mayor posicionamiento en el mercado, con sucursales en puntos
              estratégicos de la región, dando a conocer sus productos mediante
              diferentes canales y estrategias, garantizando siempre nuestro
              compromiso de calidad y cumplimiento.
            </li>
          </ul>
        </div>
        <div class="col-lg-6">
          <p>
            <strong>Objetivos.</strong>
          </p>
          <ul>
            <li>
              <i class="ri-check-double-line"></i>
              Diversificar nuestras líneas de productos acorde a las necesidades
              del sector.
            </li>
            <li>
              <i class="ri-check-double-line"></i>
              Contribuir con el desarrollo de la región mediante la generación
              de empleo.
            </li>
            <li>
              <i class="ri-check-double-line"></i>
              Ofrecer a la comunidad calidad y entrega oportuna de productos.
            </li>
            <li>
              <i class="ri-check-double-line"></i>
              Innovar constantemente nuestras líneas de producción.
            </li>
          </ul>
        </div>
      </div>
    </div>
  </section>
  <!-- End About Us Section -->

  <!-- ======= Productos Section ======= -->
  <section id="productos" class="services section-bg">
    <div class="container" data-aos="fade-up">
      <div class="section-title">
        <h2>Productos</h2>
      </div>

      <div class="row">
        <div
          class="col-xl-3 col-md-6 d-flex align-items-stretch mb-3"
          data-aos="zoom-in"
          data-aos-delay="100"
        >
          <div class="card" style="width: 18rem;">
            <img
              src="../../../assets/img/lavaderos/front.jpg"
              class="card-img-top"
              alt="..."
            />
            <div class="card-body">
              <h5 class="card-title">Lavaderos en fibra de vidrio.</h5>
              <p class="card-text">
                Fabricamos lavaderos en fibra de vidrio o policuarzo con amplia
                gama de diseños, medidas y colores, con larga vida útil en
                presentaciones de tanque completo, medio tanque - mueble y
                empotrables.
              </p>
              <a [routerLink]="['/productos/lavaderos']" class="btn btn-primary"
                >Ver más.</a
              >
            </div>
          </div>
        </div>

        <div
          class="col-xl-3 col-md-6 d-flex align-items-stretch mt-4 mb-3 mt-md-0"
          data-aos="zoom-in"
          data-aos-delay="200"
        >
          <div class="card" style="width: 18rem">
            <img
              src="../../../assets/img/mesones/front.JPG"
              class="card-img-top"
              alt="..."
            />
            <div class="card-body">
              <h5 class="card-title">Mesones en policuarzo y porcelanería.</h5>
              <p class="card-text">
                Mesones y cubiertas fabricados en policuarzo de acuerdo a las
                medidas y colores que se requieran.
              </p>
              <a [routerLink]="['/productos/mesones']" class="btn btn-primary"
                >Ver más.</a
              >
            </div>
          </div>
        </div>

        <div
          class="col-xl-3 col-md-6 d-flex align-items-stretch mt-4 mb-3 mt-xl-0"
          data-aos="zoom-in"
          data-aos-delay="300"
        >
          <div class="card" style="width: 18rem">
            <img
              src="../../../assets/img/parques-bio/front.jpg"
              class="card-img-top"
              alt="..."
            />
            <div class="card-body">
              <h5 class="card-title">Parques biosaludables.</h5>
              <p class="card-text">
                Equipos fabricados con altos estándares de calidad facilitando
                la práctica de actividades al aire libre mejorando calidad de
                vida y disfrutando simultáneamente de entornos armoniosos y
                saludables.
              </p>
              <a
                [routerLink]="['/productos/parques-bio']"
                class="btn btn-primary"
                >Ver más.</a
              >
            </div>
          </div>
        </div>

        <div
          class="col-xl-3 col-md-6 d-flex align-items-stretch mt-4 mb-3 mt-xl-0"
          data-aos="zoom-in"
          data-aos-delay="400"
        >
          <div class="card" style="width: 18rem">
            <img
              src="../../../assets/img/silleteria/front.jpg"
              class="card-img-top"
              alt="..."
            />
            <div class="card-body">
              <h5 class="card-title">Silletería para interiores y exteriores.</h5>
              <p class="card-text">
                Silletería en fibra de vidrio de amplia durabilidad con diseños
                retro y novedosos para espacios interiores y exteriores.
              </p>
              <a
                [routerLink]="['/productos/silleteria']"
                class="btn btn-primary"
                >Ver más.</a
              >
            </div>
          </div>
        </div>
        <div
          class="col-xl-3 col-md-6 d-flex align-items-stretch mt-4 mb-3 mt-xl-0"
          data-aos="zoom-in"
          data-aos-delay="400"
        >
          <div class="card" style="width: 18rem">
            <img
              src="../../../assets/img/especial/front.jpg"
              class="card-img-top"
              alt="..."
            />
            <div class="card-body">
              <h5 class="card-title">Trabajos especiales.</h5>
              <p class="card-text">
                Fabricamos y asesoramos todo tipo de productos en fibra de
                vidrio de acuerdo a las especificaciones de modelado en piezas y
                moldes especiales de corte industrial, tableros para cancha de
                baloncesto, canecas de basura, ductos de basura y demás.
              </p>
              <a
                [routerLink]="['/productos/especiales']"
                class="btn btn-primary"
                >Ver más.</a
              >
            </div>
          </div>
        </div>
        <div
          class="col-xl-3 col-md-6 d-flex align-items-stretch mt-4 mb-3 mt-xl-0"
          data-aos="zoom-in"
          data-aos-delay="400"
        >
          <div class="card" style="width: 18rem">
            <img
              src="../../../assets/img/parques-infantiles/front.jpg"
              class="card-img-top"
              alt="..."
            />
            <div class="card-body">
              <h5 class="card-title">Parques infantiles.</h5>
              <p class="card-text">
                Parques infantiles metálicos en pintura electrostática para
                colegios, jardines infantiles, centros residenciales y
                vacacionales. En los tamaños, especificaciones y espacios
                proyectados por el cliente.
              </p>
              <a
                [routerLink]="['/productos/parques-infantiles']"
                class="btn btn-primary"
                >Ver más..</a
              >
            </div>
          </div>
        </div>
        <div
          class="col-xl-3 col-md-6 d-flex align-items-stretch mt-4 mb-3 mt-xl-0"
          data-aos="zoom-in"
          data-aos-delay="400"
        >
          <div class="card" style="width: 18rem">
            <img
              src="../../../assets/img/jacuzzis/front.JPG"
              class="card-img-top"
              alt="..."
            />
            <div class="card-body">
              <h5 class="card-title">Tinas y Jacuzzis.</h5>
              <p class="card-text">
                Tinas y jacuzzis en fibra de vidrio, en diferentes medidas,
                diseños y colores con las capacidades técnicas y accesorios
                deseados
              </p>
              <a
                [routerLink]="['/productos/tinas-jacuzzis']"
                class="btn btn-primary"
                >Ver más.</a
              >
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- End Services Section -->

  <!-- ======= Contact Section ======= -->
  <section id="contact" class="contact">
    <div class="container" data-aos="fade-up">
      <div class="section-title">
        <h2>Contact</h2>
      </div>

      <div class="row">
        <div class="col-lg-5 d-flex align-items-stretch">
          <div class="info">
            <div class="address">
              <i class="icofont-google-map"></i>
              <h4>Ubicación:</h4>
              <p>Av Norte No. 64-78 Barrio los Muiscas Tunja-Boyacá</p>
            </div>

            <div class="email">
              <i class="icofont-envelope"></i>
              <h4>Correo electrónico:</h4>
              <p>
                sauljerez@autofibrastunja.com <br />
                jaimejerez@autofibrastunja.com
              </p>
            </div>

            <div class="phone">
              <i class="icofont-phone"></i>
              <h4>Call:</h4>
              <p>311 474 4871 - 310 554 9126</p>
            </div>

            <iframe
              src="https://maps.google.com/maps?q=av%20norte%20No%2064-78&t=&z=13&ie=UTF8&iwloc=&output=embed"
              frameborder="0"
              style="border: 0; width: 100%; height: 290px"
              allowfullscreen
            ></iframe>
          </div>
        </div>

        <div class="col-lg-7 mt-5 mt-lg-0 d-flex align-items-stretch">
          <form
            action="forms/contact.php"
            method="post"
            role="form"
            class="php-email-form"
          >
            <div class="form-row">
              <div class="form-group col-md-6">
                <label for="name">Nombre</label>
                <input
                  type="text"
                  name="name"
                  class="form-control"
                  id="name"
                  data-rule="minlen:4"
                  data-msg="Please enter at least 4 chars"
                />
                <div class="validate"></div>
              </div>
              <div class="form-group col-md-6">
                <label for="name">Correo de contacto</label>
                <input
                  type="email"
                  class="form-control"
                  name="email"
                  id="email"
                  data-rule="email"
                  data-msg="Please enter a valid email"
                />
                <div class="validate"></div>
              </div>
            </div>
            <div class="form-group">
              <label for="name">Asunto</label>
              <input
                type="text"
                class="form-control"
                name="subject"
                id="subject"
                data-rule="minlen:4"
                data-msg="Please enter at least 8 chars of subject"
              />
              <div class="validate"></div>
            </div>
            <div class="form-group">
              <label for="name">Mensaje</label>
              <textarea
                class="form-control"
                name="message"
                rows="10"
                data-rule="required"
                data-msg="Please write something for us"
              ></textarea>
              <div class="validate"></div>
            </div>
            <div class="mb-3">
              <div class="loading">Loading</div>
              <div class="error-message"></div>
              <div class="sent-message">
                Your message has been sent. Thank you!
              </div>
            </div>
            <div class="text-center"><button type="submit">Enviar</button></div>
          </form>
        </div>
      </div>
    </div>
  </section>
  <!-- End Contact Section -->

  <a href="#" class="back-to-top"><i class="ri-arrow-up-line"></i></a>
</main>
<!-- End #main -->
