<footer class="text-center text-lg-start" style="background-color: #37517e">
  <!-- Grid container -->
  <div class="container p-4">
    <!--Grid row-->
    <div class="row">
      <!--Grid column-->
      <div class="col-lg-6 col-md-12 mb-4 mb-md-0">
        <h5 class="text-uppercase">AUTOFIBRAS TUNJA</h5>

        <p class="text-white">
          Av Norte No. 64 - 78 Barrio los Muiscas Tunja-Boyacá
          <br>
          311 474 4871 - 310 554 9126
          <br>
          sauljerez@autofibrastunja.com 
          <br>
          jaimejerez@autofibrastunja.com 
        </p>
      </div>

      <!--Grid column-->
      <div class="col-lg-6 col-md-12 mb-4 mb-md-0">
        <h5 class="text-uppercase">Desarrollado por:</h5>
        <a href="https://www.webfactorycolombia.com/" target="_blank">
          <img width="100px" src="../../../assets/img/Logo1.png" alt="" />
        </a>
      </div>
      <!--Grid column-->

      <!--Grid column-->
    </div>
    <!--Grid row-->
  </div>
  <!-- Grid container -->
</footer>
