<!-- ======= Header ======= -->
<header id="header" class="fixed-top">
  <nav class="navbar navbar-expand-lg container d-flex align-items-center">
    <h1 class="logo mr-auto"><a [routerLink]="['/']">Autofibras</a></h1>
    <button
      class="navbar-toggler"
      type="button"
      data-toggle="collapse"
      data-target="#navbarNav"
      aria-controls="navbarNav"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="icofont-navigation-menu" style="color: white"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <button
            style="border: none; background-color: transparent"
            (click)="anchor('about')"
          >
            <a style="color: white" class="nav-link">Quiénes somos</a>
          </button>
        </li>
        <li class="nav-item">
          <button
            style="border: none; background-color: transparent"
            (click)="anchor('productos')"
          >
            <a style="color: white" class="nav-link">Productos</a>
          </button>
        </li>
        <li class="nav-item">
          <button
            style="border: none; background-color: transparent"
            (click)="anchor('contact')"
          >
            <a style="color: white" class="nav-link">Contacto</a>
          </button>
        </li>
      </ul>
    </div>
  </nav>
</header>
<!-- End Header -->
